.elementor-415 .elementor-element.elementor-element-20b0895 {
    padding: 90px 0 60px;
}
.elementor-415 .elementor-element.elementor-element-5b6be5d .all_color_service,
.elementor-415 .elementor-element.elementor-element-5b6be5d .service_top_image:after {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.elementor-415 .elementor-element.elementor-element-5b6be5d .all_color_service {
    padding: 50px 30px;
}
.elementor-415 .elementor-element.elementor-element-5b6be5d .all_color_service:hover i {
    color: #fff;
}
.elementor-415 .elementor-element.elementor-element-5b6be5d .all_color_service:hover i,
.elementor-415 .elementor-element.elementor-element-5b6be5d .poly_text_box:hover .service_icon_box:before {
    background-color: #00235a;
}
.elementor-415 .elementor-element.elementor-element-5b6be5d .all_color_service h3,
.elementor-415 .elementor-element.elementor-element-5b6be5d .all_color_service h3 a,
.elementor-415 .elementor-element.elementor-element-5b6be5d .all_color_service h2,
.elementor-415 .elementor-element.elementor-element-5b6be5d .all_color_service p,
.elementor-415 .elementor-element.elementor-element-5b6be5d .all_color_service i,
.elementor-415 .elementor-element.elementor-element-5b6be5d .all_color_service .service_list_op a {
    transition: 0.5s;
}
.elementor-415 .elementor-element.elementor-element-2aaa137 .all_color_service,
.elementor-415 .elementor-element.elementor-element-2aaa137 .service_top_image:after {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.elementor-415 .elementor-element.elementor-element-2aaa137 .all_color_service {
    padding: 50px 30px;
}
.elementor-415 .elementor-element.elementor-element-2aaa137 .all_color_service:hover i {
    color: #fff;
}
.elementor-415 .elementor-element.elementor-element-2aaa137 .all_color_service:hover i,
.elementor-415 .elementor-element.elementor-element-2aaa137 .poly_text_box:hover .service_icon_box:before {
    background-color: #00235a;
}
.elementor-415 .elementor-element.elementor-element-2aaa137 .all_color_service h3,
.elementor-415 .elementor-element.elementor-element-2aaa137 .all_color_service h3 a,
.elementor-415 .elementor-element.elementor-element-2aaa137 .all_color_service h2,
.elementor-415 .elementor-element.elementor-element-2aaa137 .all_color_service p,
.elementor-415 .elementor-element.elementor-element-2aaa137 .all_color_service i,
.elementor-415 .elementor-element.elementor-element-2aaa137 .all_color_service .service_list_op a {
    transition: 0.5s;
}
.elementor-415 .elementor-element.elementor-element-52a26b3 .all_color_service,
.elementor-415 .elementor-element.elementor-element-52a26b3 .service_top_image:after {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.elementor-415 .elementor-element.elementor-element-52a26b3 .all_color_service {
    padding: 50px 30px;
}
.elementor-415 .elementor-element.elementor-element-52a26b3 .all_color_service:hover i {
    color: #fff;
}
.elementor-415 .elementor-element.elementor-element-52a26b3 .all_color_service:hover i,
.elementor-415 .elementor-element.elementor-element-52a26b3 .poly_text_box:hover .service_icon_box:before {
    background-color: #00235a;
}
.elementor-415 .elementor-element.elementor-element-52a26b3 .all_color_service h3,
.elementor-415 .elementor-element.elementor-element-52a26b3 .all_color_service h3 a,
.elementor-415 .elementor-element.elementor-element-52a26b3 .all_color_service h2,
.elementor-415 .elementor-element.elementor-element-52a26b3 .all_color_service p,
.elementor-415 .elementor-element.elementor-element-52a26b3 .all_color_service i,
.elementor-415 .elementor-element.elementor-element-52a26b3 .all_color_service .service_list_op a {
    transition: 0.5s;
}
.elementor-415 .elementor-element.elementor-element-b7187f0 {
    padding: 30px 0 0;
}
.elementor-415 .elementor-element.elementor-element-a4b0796 .apartment_area {
    text-align: left;
}
.elementor-415 .elementor-element.elementor-element-a4b0796 .apartment_text h2 {
    padding: 10px 0 30px;
}
.elementor-415 .elementor-element.elementor-element-a4b0796 .witr_apartment_form input,
.elementor-415 .elementor-element.elementor-element-a4b0796 .witr_apartment_form form select,
.elementor-415 .elementor-element.elementor-element-a4b0796 .wpcf7-form-control-wrap textarea,
.elementor-415 .elementor-element.elementor-element-a4b0796 .wpcf7-form-control-wrap a,
.elementor-415 .elementor-element.elementor-element-a4b0796 .wpcf7-form-control-wrap input,
.elementor-415 .elementor-element.elementor-element-a4b0796 .witr_apartment_form form select option {
    background-color: #87494900;
}
.elementor-415 .elementor-element.elementor-element-a4b0796 .witr_apartment_form input,
.elementor-415 .elementor-element.elementor-element-a4b0796 .witr_apartment_form form select,
.elementor-415 .elementor-element.elementor-element-a4b0796 .wpcf7-form-control-wrap textarea,
.elementor-415 .elementor-element.elementor-element-a4b0796 .wpcf7-form-control-wrap a,
.elementor-415 .elementor-element.elementor-element-a4b0796 .wpcf7-form-control-wrap input {
    border-style: solid;
    border-width: 1px;
    border-color: #ddddddcc;
    padding: 30px 0 30px 30px;
}
.elementor-415 .elementor-element.elementor-element-a4b0796 .witr_con_btn1,
.elementor-415 .elementor-element.elementor-element-a4b0796 .witr_con_btn2,
.elementor-415 .elementor-element.elementor-element-a4b0796 .witr_apartment_form .const_btn {
    text-align: left;
}
.elementor-415 .elementor-element.elementor-element-4c1f1bd {
    margin-top: 100px;
    margin-bottom: 0;
}
.elementor-415 .elementor-element.elementor-element-c9bb51b iframe {
    height: 500px;
}
